package {{JavaPackage.Name}};

{{#Description}}
// {{.}}
{{/Description}}
public class {{Name}} {
    {{#DataMembers}}
    // Class Variables //
    {{/DataMembers}}
    {{#DataMembers}}
    {{#Description}}
    // {{.}}
    {{/Description}}
    private {{MemberType}} {{Name}};
    {{/DataMembers}}

    public {{Name}} ({{#RequiredMembers}}{{^IsFirst}}, {{/IsFirst}}{{DataMember.MemberType}} {{DataMember.Name}}{{/RequiredMembers}}) {
        {{#RequiredMembers}}
        this.{{DataMember.Name}} = {{DataMember.Name}};
        {{/RequiredMembers}}
    }

    {{#DataMembers}}
    // Getters //
    {{/DataMembers}}
    {{#DataMembers}}
    public {{MemberType}} Get{{Name}}() {
        return {{Name}};
    }
    {{/DataMembers}}

    {{#DataMembers}}
    // Setters //
    {{/DataMembers}}
    {{#DataMembers}}
    public void Set{{Name}}({{MemberType}} {{Name}}) {
        this.{{Name}} = {{Name}};
    }
    {{/DataMembers}}
}